
.Container {
	padding: 0;
	margin: 0;
}

.Container li {
	list-style-type: none;
}

/* indent for all tree children excepts root */
.Node {
    margin-left: 18px;
    zoom: 1;

}

.IsRoot {
    margin-left: 0;
}
 
.Expand {
    background-image: url(img/opened.png);
	background-size: 100%;
}
 
/* closed is higher priority than open */
.ExpandClosed .Expand {
    background-image: url(img/closed.png);
	background-size: 100%;
}
 
/* highest priority */
.ExpandLeaf .Expand {
    background-image: url(img/leaf.png);
}

.Content {
    min-height: 18px;
    margin-left:18px;
}
* html  .Content {
    height: 18px;
}


/* .ExpandLoading   { */
    /* width: 18px; */
    /* height: 18px; */
    /* float: left; */
    /* background-image: url(img/loading.gif); */
/* } */

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}

.ExpandClosed .Container {
        display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
        cursor: pointer;
}
.ExpandLeaf .Expand {
        cursor: auto;
}

